{% import "_includes/forms" as forms %}
{% if not settingConfigured %}
    <div class="field">
        <p class="warning"><strong>{{ 'Plugin settings have not been configured yet'|t('env-sync') }}</strong></p>
    </div>
{% else %}
    {% set volumeCount = volumes|length %}
    {% set dbBackupsCount = dbBackupOptions|length %}
    {% set volumeBackupCount = volumeBackupOptions|length %}

    <section class='sync-utility-section'>
        <h1>{{ "Database Sync"|t('env-sync') }}</h1>
        <hr>
        <div>
            <h2 data-icon="database">{{ "Create Database Backup"|t('env-sync') }}</h2>
            <p class="light">{{ "This will create a new .sql database backup in your local backup folder"|t('env-sync') }}</p>
            <form id="create-database-backup" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/create-database-backup') }}
                {{ csrfInput() }}
                <div class='sync-utility-submit'>
                    <input class="btn submit" type="submit" value="{{ 'Create Database Backup'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>
            </form>
            <hr>
        </div>
        <div>
            <h2 data-icon="upload" class="icon">{{ "Push Database Backups"|t('env-sync') }}</h2>
            <p class="light">{{ "This will send all local database backups to your cloud provider"|t('env-sync') }}</p>
            <form id="push-database" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/push-database') }}
                {{ csrfInput() }}
                <div class='sync-utility-submit'>
                    <input class="btn submit {{ dbBackupsCount > 0 ? '' : 'disabled' }}" type="submit" value="{{ 'Push Database Backups'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>
            </form>
            <hr>
        </div>
        <div>
            <h2 data-icon="download" class="icon">{{ "Pull Database Backups"|t('env-sync') }}</h2>
            <p class="light">{{ "This will download all database backups from your cloud provider to the local backup folder"|t('env-sync') }}</p>
            <form id="pull-database" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/pull-database') }}
                {{ csrfInput() }}
                <div class='sync-utility-submit'>
                    <input class="btn submit" type="submit" value="{{ 'Pull Database Backups'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>
            </form>
            <hr>
        </div>
        <div>
            <h2 data-icon="refresh" class="icon">{{ "Restore Database Backup"|t('env-sync') }}</h2>
            <p>
                <i data-icon="alert" class="warning"></i> <strong class="warning">{{ "This is destructive!"|t('env-sync') }}</strong>
                <span class="light">{{ "This will replace all local assets with the choosen backup (from your local backup folder)"|t('env-sync') }}</span>
            </p>
            <form id="restore-database-backup" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/restore-database') }}
                {{ csrfInput() }}
                {{ forms.selectField({
                    id: 'database-name',
                    name: 'database-name',
                    disabled: (dbBackupsCount <= 0),
                    options: dbBackupOptions
                }) }}
                <div class='sync-utility-submit'>
                    <input class="btn submit confirm {{ dbBackupsCount > 0 ? '' : 'disabled' }}" type="submit" value="{{ 'Restore Database Backup'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>
            </form>
            <hr>
        </div>
    </section>

    <section class='sync-utility-section'>
        <h1>{{ "Assets Sync"|t('env-sync') }}</h1>
        <hr>
        <div>
            <h2 data-icon="asset">{{ "Create Assets Backup"|t('env-sync') }}</h2>
            <p class="light">{{ "This will create a new zipped archive of all assets in your local backup folder"|t('env-sync') }}</p>
            <form id="create-volumes-backup" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/create-volumes-backup') }}
                {{ csrfInput() }}
                <div class='sync-utility-submit'>
                    <input class="btn submit {{ volumeCount > 0 ? '' : 'disabled' }}" type="submit" value="{{ 'Create Assets Backup'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>
                {% if not volumeCount %}<p class="light">{{ 'No volumes created yet'|t('env-sync') }}</p>{% endif %}
            </form>
            <hr>
        </div>
        <div>
            <h2 data-icon="upload" class="icon">{{ "Push Assets Backups"|t('env-sync') }}</h2>
            <p class="light">{{ "This will send all local zipped asset backups to your cloud provider"|t('env-sync') }}</p>
            <form id="push-volumes" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/push-volumes') }}
                {{ csrfInput() }}
                <div class='sync-utility-submit'>
                    <input class="btn submit {{ volumeBackupCount > 0 ? '' : 'disabled' }}" type="submit" value="{{ 'Push Assets Backups'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>
            </form>
            <hr>
        </div>
        <div>
            <h2 data-icon="download" class="icon">{{ "Pull Assets Backups"|t('env-sync') }}</h2>
            <p class="light">{{ "This will download all zipped asset backups from your cloud provider to the local backup folder"|t('env-sync') }}</p>
            <form id="pull-volumes" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/pull-volumes') }}
                {{ csrfInput() }}
                <div class='sync-utility-submit'>
                    <input class="btn submit" type="submit" value="{{ 'Pull Assets Backups'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>
            </form>
            <hr>
        </div>
        <div>
            <h2 data-icon="refresh" class="icon">{{ "Restore Asset Backup"|t('env-sync') }}</h2>
            <p>
                <i data-icon="alert" class="warning"></i> <strong class="warning">{{ "This is destructive!"|t('env-sync') }}</strong>
                <span class="light">{{ "This will replace all local assets with the choosen backup (from your local backup folder)"|t('env-sync') }}</span>
            </p>
            <form id="restore-volumes-backup" class="sync-utility-form" method="post">    
                {{ actionInput('env-sync/sync/restore-volumes') }}
                {{ csrfInput() }}
                {{ forms.selectField({
                    id: 'volume-name',
                    name: 'volume-name',
                    disabled: (volumeBackupCount <= 0),
                    options: volumeBackupOptions
                }) }}
                <div class='sync-utility-submit'>
                    <input class="btn submit confirm {{ volumeBackupCount > 0 ? '' : 'disabled' }}" type="submit" value="{{ 'Restore Asset Backup'|t('env-sync') }}">
                    <div class="utility-status"></div>
                </div>            
            </form>
            <hr>
        </div>
    </section>
{% endif %}